html, body {
  min-width: 1190px;
  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Raleway", "Arial", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: inline-block;

  font-size: 12px;
  line-height: 24px;
  vertical-align: middle;
  text-decoration: none;
  color: #202242;

  background: #ffe13e;

  cursor: pointer;
}

.button:hover {
  background: #ead040;
}

.button:active {
  background: #d8c03d;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  min-height: 147px;
}

.main-logo {
  width: 226px;
  height: 33px;
  margin-top: 58px;
  margin-right: 103px;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  width: 510px;
  margin: 0;
  margin-top: 67px;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  margin-right: 40px;
}

.main-nav__link {
  font-size: 16px;
  line-height: 24px;
  font-family: "Raleway", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.main-nav__link:hover {
  text-decoration: underline;
  
  opacity: 0.5;
}

.main-nav__link:active {
  color: #ffe13e;
  text-decoration: underline;

  opacity: 1;
}

.main-nav__link_current {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffe13e;
}

.main-contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 284px;
  padding-bottom: 32px;
  padding-left: 45px;

  border-left: 1px solid #ebebeb;
}

.main-contacts__text {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 15px;

  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  color: #202242;
}

.main-contacts__link {
  margin-right: 22px;
  padding: 8px 31px;

  font-size: 14px;
  font-weight: 600;
}

.main-contacts__tel {
  margin-top: 3px;
  padding: 7px 0 3px 15px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Lato", "Arial", sans-serif;

  border-left: 1px solid #babbc4;
}

.check {
  background: #93a6ad url("../img/background.jpg") no-repeat 50% 0;
  background-size: cover;
}

.check__inner {
  padding-top: 1px;
  text-align: center;
}

.check__title {
  margin: 0;
  margin-top: 240px;
  margin-bottom: 45px;

  font-size: 46px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.check__slogan {
  margin: 0;
  margin-bottom: 50px;
  padding-bottom: 180px;

  font-size: 30px;
  line-height: 24px;
  text-align: center;
  white-space: pre-wrap;
  color: #ffffff;

  background: url("../img/check-icon.svg") no-repeat 50% 85px;
}

.check__form {
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: 140px;
  padding: 18px;

  background-color: rgba(255, 255, 255, 0.5);
}

.check__input {
  box-sizing: border-box;
  width: 270px;
  min-height: 54px;
  padding: 10px 20px;

  font-size: 18px;
  line-height: 24px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;

  border: none;
}

.check__input::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #000000;
}

.check__input:-ms-input-placeholder {
  text-transform: capitalize;
  color: #000000;
}

.check__input::placeholder {
  text-transform: capitalize;
  color: #000000;

  opacity: 1;
}

.check__choose-domain {
  box-sizing: border-box;
  width: 110px;
  min-height: 54px;
  padding: 15px 30px 15px 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;

  background: #ffe13e url("../img/down-arrow.svg") no-repeat 80px 50%;
  border: none;
  border-right: 1px solid #ffffff;

  -webkit-appearance: none;
  -moz-appearance: none;

  cursor: pointer;
}

.check__choose-domain::-ms-expand {
  display: none;
}

.check__choose-domain:hover {
  background: #ead040 url("../img/down-arrow.svg") no-repeat 80px 50%;
}

.check__choose-item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;

  background: transparent;
}

.check__button {
  box-sizing: border-box;
  min-width: 154px;
  padding: 15px;

  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;

  border: none;
}

.advantages {
  background: linear-gradient(to right, #202242 50%, #ffe13e 50% );
}

.advantages__inner {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  flex-basis: 50%;
  margin-bottom: 84px;
}

.advantages__webhost {
  background: #202242;
  text-align: center;
}

.advantages__domain {
  background: #ffe13e;
  text-align: center;
}

.advantages__title {
  font-size: 36px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.advantages__title-webhost {
  margin: 0;
  margin-top: 115px;
  margin-bottom: 25px;
  padding-top: 225px;

  background: url("../img/webhost.svg") no-repeat 200px 0;
}

.advantages__title-domain {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 25px;
}

.advantages__title-top {
  margin-top: 65px;
  padding: 115px 70px 115px 70px;

  font-size: 134px;
  line-height: 45px;
  text-transform: none;
  color: #000000;
}

.advantages__text {
  width: 420px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0 70px;

  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.advantages__button {
  min-width: 51px;
  margin-bottom: 20px;
  padding: 14px 50px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  border: 2px solid #ffffff;
}

.advantages__button_left {
  background: #202242;
}

.advantages__button_left:hover {
  background: #1b1c37;
}

.advantages__button_left:active {
  background: #111229;
}

.features {
  min-height: 700px;
  background: #fbf8f1 url("../img/bg-features.svg") no-repeat 50% 85px;
}

.features__title {
  margin: 0;
}

.features__item-title {
  margin: 0;
}
